* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    letter-spacing: 1px;
}

html {
    font-size: 0.9rem;
    @include sm {
        font-size: 1rem;
    }
}

body {
    background-color: $light;
    color: $dark;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark;
    transition: 0.3s;
    text-transform: capitalize;
    &:hover {
        color: $primary;
    }
}

img {
    width: 100%;
}

h1, h2, h3, h4, p {
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    line-height: 1.6;
}

