@import 'mixins';
@import 'variables';
@import 'resets';
@import 'utilities';




//navbar 
.navbar {
    background-color: $light;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    transition: 0.3s;

    @include sm {
        box-shadow: unset;
        
    }
    .container {
        @include container(1rem, 1200px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: none;
        @include md {
            display: block;
        }
        ul {
            display: flex;
        }
        li {
            margin-left: 2rem;
        }
    }
    .toggle {
        cursor: pointer;
        @include md {
            display: none;
        }

        img {
            width: 2.5rem;
        }
    
    }
}

// slide-nav 
.side-nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $dark;
    min-height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
    @include md {
        display: none;
    }
    &.active {
     right: 0;
    }
    &.close {
        right: -100%;
    }

    .close {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        img {
            width: 2.5rem;
        }
    }
    li {
        margin: 5rem 0;
    }
    a {
        color: $light;

    }
}

.hero-section {
    .container {
        @include container(0 1rem, 1200px);
        position: relative;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 2rem;
        @include xl {
            grid-template-columns: 1fr 1fr;
        }
        
    }
    .text {
        flex: 1.5;
        text-transform: uppercase;
        max-width: 20rem;
        @include sm {
            max-width: 35rem;
        }
        @include xl {
            max-width: unset;
        }
        h1 {
           @include sm {
               font-size: 4.5rem;
           }
        }
        p {
            font-size: 1.25rem;
            @include sm {
                font-size: 1.5rem;
            }
        }
      
      
    }
    .image {
        display: none;
        flex: 1;
        @include xl {
            display: block;
        }
    }
    .square {
    
        background-color: $primary-light;
        position: absolute;
        top: 0;
        right: 0;
        left: 10rem;
        height: 100vh;
        z-index: -1;
        @include sm {
            left: 20rem;
        }
        @include md {
            right: 6rem;
            
          
        }
    }
}